/* Headings */
$step-size-heading: 0.3;
$amplifier-heading: 1.25;

@mixin heading-size($size) {
	font-size: $size * $step-size-heading * $amplifier-heading + rem;
	margin-top: 1em;
	margin-bottom: .5em;
}



/* breakpoint mixin */
@mixin breakpoint($breakpoint, $direction: $media-direction) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    @media only screen and (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}


/* z-index */
@function z-index($name){
  $z: null;
  @if type-of($z-layers) == map { $z: map-get($z-layers, $name); }
  @if type-of($z-layers) == list {
    @for $i from 1 through length($z-layers) {
      @if nth($z-layers, $i) == $name { $z: $i; }
    }
  }
  @if $z { @return $z; }
  @else { @error('Could not find a z-index for `#{$name}`'); }
}
@mixin z-index($name){ z-index: z-index($name); }


/* scrollbar */
@mixin scrollbar($size: 6px, $thumbColor: darken($white, 20%), $trackColor: darken($white, 5%), $borderRadius: 3px) {

  &::-webkit-scrollbar {
    width: $size;
    height: $size;

    &-button {
      width: 0px;
      height: 0px;
    }

    &-thumb {
      background: $thumbColor;
      border: 0px none #ffffff;
      border-radius: $borderRadius;

      &:hover {
        background: lighten($thumbColor, 5%);
      }

      &:active {
        background: darken($thumbColor, 5%);
      }
    }

    &-track {
      background: $trackColor;
      border: 0px none #ffffff;
      border-radius: 0;

      // &:hover {
      //   background: lighten($trackColor, 5%);
      // }
      //
      // &:active {
      //   background: darken($trackColor, 5%);
      // }
    }

    &-corner {
      background: transparent;
    }
  }
}
